@import "normalize";
@import "susy";

// mobile first and global settings
$susy : (
  columns: 4, 
  gutters: .25,
  global-box-sizing: border-box,
  debug: (image: show)
);

// tablet
$tablet-media: 800px;
$tablet-layout: (
  min-width: 800px,
  columns: 8
);

// desktop
$desktop-media: 1200px;
$desktop-layout: (
  min-width: 1200px, 
  columns: 12 
);

.wrap {
  // mobile first
  @include container;
  color: green;

  // tablet
  @include susy-breakpoint($tablet-media, $tablet-layout) {
    @include show-grid(map-get($tablet-layout, columns));
    color: blue;
  }

  // desktop
  @include susy-breakpoint($desktop-media, $desktop-layout) {
    @include show-grid(map-get($desktop-layout, columns));
    color: red;
  }
}

section {
}

.hero {
  background: grey;
  min-height: 80vh;
}

.benefits {
  background: white;
  min-height: 80vh;
}

.benefits-2 {
  background: yellow;
  min-height: 80vh;
}

.call-to-action {
  background: orange;
  min-height: 80vh;
}

.section__content {
  @include container;
  min-width: 480px;
  margin: 0 10%;   

  // tablet
  @include susy-breakpoint($tablet-media, $tablet-layout) {
    @include container;
    min-width: 800px;
    margin: 0 10%;   
  }

  @include susy-breakpoint($desktop-media, $desktop-layout) {
    @include container;
    min-width: 1200px;
    margin: 0 10%;   
  }

}

.tagline {
  @include span(2 of 4);
}

.iphone {

}
