@import "normalize";
@import "susy";

// mobile first
$susy : (
  columns: 4, 
  gutters: .25,
  debug: (image: show)
);

// tablet
$tablet-media: 800px;
$tablet-layout: (
  min-width: 800px,
  columns: 8
);

// desktop
$desktop-media: 1200px;
$desktop-layout: (
  min-width: 1200px, 
  columns: 12 
);

.wrap {
  // mobile first
  @include container;
  color: green;

  // tablet
  @include susy-breakpoint($tablet-media, $tablet-layout) {
    @include show-grid(map-get($tablet-layout, columns));
    color: blue;
  }

  // desktop
  @include susy-breakpoint($desktop-media, $desktop-layout) {
    @include show-grid(map-get($desktop-layout, columns));
    color: red;
  }
}
